@use 'sass:math';

// Подключение шрифтов локально из папки "./src/fonts" =======================================================================================================================
@import 'config/fonts';

// Подключение sass функций и миксинов и рассширений стилей =======================================================================================================================
@import 'config/functions';
@import 'config/mixins';
@import 'config/patternSelectors';

// Подключение переменных =======================================================================================================================
@import 'config/vars';

// Обнуление =======================================================================================================================
@import 'config/reset';

/* =======================================================================================================================
* Библиотеки
* раскомментировать для использования 
*/
// @import 'libs/aos';
@import 'libs/swiper';
@import '../../node_modules/swiper/modules/navigation/navigation';
@import '../../node_modules/swiper/modules/pagination/pagination';

@import url("https://prrashi.github.io/rateYo/bower_components/jquery-rateyo/min/jquery.rateyo.min.css");

// Подлючение кастомного скрола для всего сайта =======================================================================================================================
@import 'config/scrollbar';

// Общие параметры, шаблоны(заготовки) и вспомагательные классы =======================================================================================================================
@import 'config/base';

// БЕМ блоки используемые во всё проекте =======================================================================================================================
@import 'config/common';

// Подключение стилей отдельных блоков и секций =======================================================================================================================
@import 'layout/header';
@import 'layout/footer';

@import '@fancyapps/ui/dist/fancybox.css';

.top-slider {
  background-color: #f6f6f6;
  padding-top: 65px;
  background-image: url('../images/top-slider-bg.png');
  background-size: cover;
  background-repeat: no-repeat;
  &__container {
    max-width: 1560px;
  }
  &__item {
    display: flex;
    justify-content: space-between;
  }
  &__content {
    padding-left: 175px;
    padding-top: 125px;
  }
  &__title {
    max-width: 670px;
    font-size: 58px;
    line-height: 68px;
    color: $title;
    @extend %roboto-700;
    margin-bottom: 35px;
  }
  &__text {
    margin-bottom: 55px;
    max-width: 470px;
  }
  &__link {
    @extend %btn;
    padding: 14px 36px;
  }

  .swiper-pagination {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .swiper-pagination-bullet {
    margin: 0 8px !important;
    background-color: $default;
    opacity: 1;
    border: 1px solid transparent;
    padding: 0;
    height: 26px;
    width: 26px;
    font-size: 0;
    background-color: transparent;
    position: relative;
    &::before {
      content: '';
      width: 6px;
      height: 6px;
      border-radius: 50%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: $default;
      position: absolute;
    }
  }
  .swiper-pagination-bullet-active {
    border-color: $accent;
    &::before {
      background-color: $accent;
    }
  }
}

// --- categories-start ---

.categories-info {
  padding: 120px 0;
  background-image: url('../images/decor/categories-left-bg.png');
  background-repeat: no-repeat;
  background-position: center left;
  &__inner {
    background-image: url('../images/decor/categories-right-bg.png');
    background-repeat: no-repeat;
    background-position: center right;
  }
}

.info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 110px;
  position: relative;
  &::before,
  &::after {
    content: '';
    position: absolute;
    z-index: -1;
  }
  &::after {
    background-image: url('../images/decor/shape-1.svg');
    top: -40px;
    left: -45px;
    width: 120px;
    height: 121px;
    background-repeat: no-repeat;
  }
  &::before {
    background-image: url('../images/decor/shape-2.svg'); 
    bottom: -23px;
    right: -23px;
    width: 65px;
    height: 52px;
    background-repeat: no-repeat;
  }
  &__item {
    padding: 60px 30px;
    width: 370px;
    box-shadow: 20px 0px 60px 0px rgba(202, 202, 202, 0.35);
    background-color: #fff;
  }
  &__item-title {
    margin: 35px 0 10px;
    color: $title;
    font-size: 22px;
    @extend %roboto-400;
  }
  &__item-text {
    font-size: 16px;
    line-height: 26px;
    color: #8d8d8d;
    @extend %quicksand-500;
  }
}
.categories {
  &__items {
    display: grid;
    min-height: 635px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 30px;
  }
  &__item {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding-top: 35px;
    padding-left: 40px;
    &:nth-child(1) {
      grid-row: span 2;
      .categories__item-subtitle,
      .categories__item-link:hover {
        color: #5800e4;
      }
    }
    &:nth-child(2) {
      grid-column: span 2;
      display: flex;
      justify-content: center;
      flex-direction: column;
      padding-top: 0;
      .categories__item-subtitle,
      .categories__item-link:hover {
        color: $accent;
      }
    }
    &:nth-child(3) {
      .categories__item-subtitle,
      .categories__item-link:hover {
        color: #ffb534;
      }
    }
    &:nth-child(4) {
      .categories__item-subtitle,
      .categories__item-link:hover {
        color: #34c3ff;
      }
    }
  }
  &__item-subtitle {
    margin-bottom: 5px;
  }
  &__item-title {
    font-size: 22px;
    color: $title;
    margin-bottom: 16px;
  }
  &__item-link {
    text-transform: uppercase;
    color: $title;
    @extend %roboto-400;
    transition: all .3s;
  }
}

// --- categories-end ---

// --- video-fashion-start ---

.video-fashion {
  background-color: $bg;
  background-image: url('../images/decor/pattern.svg');
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  padding: 125px 0;
  &__inner {
    display: flex;
  }
  &__popup {
    margin-right: 60px;
    max-width: 530px;
    width: 100%;
    height: 480px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }
  &__content {
    max-width: 570px;
  }
  &__subtitle {
    padding-top: 75px;
    font-size: 22px;
    color: $accent;
    text-transform: uppercase;
    margin-bottom: 5px;
  }
  &__title {
    text-align: left;
  }
  &__text {
    margin-bottom: 55px;
    font-size: 16px;
    color: #8d8d8d;
    line-height: 26px;
    @extend %quicksand-500;
  }
  &__link {
    @extend %btn;
  }
}

// --- video-fashion-end ---

// --- product-start ---

.product {
  padding: 105px 0 120px;
  text-align: center;
  &__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 45px 30px;
  }
  &__link {
    text-transform: uppercase;
    color: $title;
    display: inline-block;
    border: 1px solid $accent;
    padding: 14px 27px;
    margin-top: 55px;
  }
}

.product-item {
  max-width: 370px;
  text-align: center;
  &__img-box {
    position: relative;
    height: 370px;
    overflow: hidden;
    margin-bottom: 30px;
  }
  &__images {
    object-fit: cover;
  }
  &__link-box {
    position: absolute;
    bottom: 50px;
    background-color: #fff;
    left: 0;
    right: 0;
    width: 220px;
    height: 50px;
    margin: 0 auto; 
    border-radius: 22px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transform: translateY(300%);
    transition: all .3s;
  }
  &__link {
    path {
      transition: all .3s;
    }
  }
  &__link:hover {
    path {
      fill: $accent;
    }
  }
  &__link--line::before,
  &__link--line::after {
    content: '';
    position: absolute;
    background-color: #ececec;
    width: 1px;
    height: 30px;
    top: 10px;
  }
  &__link--line::before {
    left: 70px;
  }
  &__link--line::after {
    right: 70px;
  }
  &__title {
    color: $title;
    padding: 15px 0 20px;
    font-size: 25px;
  }
  &__price {
    display: flex;
    justify-content: center;
    @extend %roboto-400;
  }
  &__new-price {
    padding: 0 12px;
    color: $title;
  }
  &__old-price {
    padding: 0 12px;
    text-decoration: line-through;
    color: #8d8d8d;
  }
  &:hover {
    .product-item__link-box {
      transform: translateY(0);
    }
  }
  &--sale {
    .product-item__img-box::before {
      content: "SALE";
      @extend %btn;
      position: absolute;
      top: 25px;
      left: 25px;
      line-height: 1;
    }
  }
}
.star {
  margin: 0 auto;
}


// --- product-end ---